body,html,iframe { width: 100%; height: 100%; margin: 0; border: 0; }

#mainframe.normal
      {
          opacity: 1.0;
      }
      
#mainframe.faded
      {
          opacity: 0.0;
      }
      
#mainframe
      {
          /* Firefox */
          -moz-transition-property: opacity;
          -moz-transition-duration: 0.5s;
          /* WebKit */
          -webkit-transition-property: opacity;
          -webkit-transition-duration: 0.5s;
          /* Standard */
          transition-property: opacity;
          transition-duration: 0.5s;
      }

.button {
    font-family:default;
    border: solid black 1px;
    padding: 2px 5px;
    font-size: 1.6em;
    color: #000;
    background-color:#aeaeae;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;
}

.chapter {
    font-family:default;
    width: 114px;
    border: solid black 1px;
    padding: 2px 5px;
    font-size: 1.6em;
    color: #000;
    background-color:#eaeaea;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 5px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 9px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    float: center;
}

.prev {
  position: absolute; 
  top: 100%; 
  margin-top: -72px;
  left: 0;
  margin-left: 5px;
}

.next {
  position: absolute; 
  top: 100%; 
  margin-top: -72px;
  right: 0;
  margin-right: 5px;
}

.contents {
  position: absolute; 
  top: 100%; 
  margin-top: -72px;
  margin-left: 120px;
}

.credits-fixed {
  position: absolute; 
  top: 100%; 
  margin-top: -72px;
  center: 0;
  margin-left: 60px;
}

.credits {
    float: center;
}

.table {
    width: 100%;
    padding: 0px 0px;
    border: 0px;
}

body {
    font-family:arial;
}

h2 {
    font-family:"Droid Sans";
}

h3 {
    font-family:"Droid Sans";
}

.welcome {
    font-family:"Droid Sans";
    font-size: 1.2em;
}

.tutorial {
    font-family:"Droid Sans";
    font-size: 1.0em;
}

.label {
    font-family:"Droid Sans";
    font-size: 0.8em;
}

.support {
    font-family:"Droid Sans";
    margin-top: 30px;
    margin-left: 10%;
    width: 75%;
    text-align: center;
	 font-size: 15px; font-size: 1.5rem; line-height: 1.4;
}